/*Some necessary adjustments*/
h1,body,html,main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}


#imgBackground{
  height: 800px;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
}


h1{
  height: 800px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  font-size: 1.2em;
  margin: 5%;
}

.imgCenter{
  margin: auto;
  display: block;
  width: 40%;

}

#recipeCorpus{
  margin-right: 10%;
  margin-left: 10%;
}

*{
  font-family: 'Montserrat', sans-serif;
}